<div id="home-page">
    <div id="home-page-landing">
        <div id="landing-left">
            <div id="landing-left-content">
                <h1>Social Media APP Platform</h1>
                <p>
                     Share Your Best Story
                </p>
                <!-- <button (Click)="onStart()" mat-raised-button color="warn">Get Started</button> -->
                <button (click)="onGetStartedClick()" mat-flat-button color="warn">Get Started</button>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
